@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
        --bg: radial-gradient(#000 5%, #0000 6%);
      --size: 3rem;
      width: 100%;
      height: 100%;
      /* Add your background pattern here */
      /* background-color: lightblue; */
      background-image: radial-gradient(#000 5%, #0000 6%),
        radial-gradient(#000 5%, #0000 6%);
      background-position: 0 0, calc(var(--size) / 2) calc(var(--size) / 2);
      background-size: var(--size) var(--size);
    }
    




/*HEADER*/
/* Estilo do menu de navegação */
nav {
    background-color: #9e58b4;
    padding: 10px 0;
    box-shadow: 0px 8px 16px 0px rgba(252, 252, 252, 0.2);
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

nav ul li {
    position: relative; /* Necessário para o posicionamento do dropdown */
    margin: 0 15px;
}

nav ul li a {
    color: rgb(216, 201, 236);
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
    display: block; /* Torna o link clicável em toda a área */
    transition: color 0.3s;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul li a:hover {
    color: #540d75;
}

/* Estilo do dropdown */
nav ul li .dropdown-content {
    display: none; /* Esconde o submenu inicialmente */
    position: absolute; /* Posiciona o submenu em relação ao item pai */
    background-color: #33214b;
    box-shadow: 0px 8px 16px 0px rgba(67, 36, 109, 0.2);
    z-index: 1; /* Garante que o submenu fique acima de outros elementos */
    min-width: 160px;
    padding: 0;
}

nav ul li .dropdown-content li {
    margin: 0;
}

nav ul li .dropdown-content li a {
    padding: 10px 15px;
}

nav ul li .dropdown-content li a:hover {
    background-color: #4f0389; /* Cor de fundo ao passar o mouse sobre o submenu */
}

/* Exibe o submenu ao passar o mouse sobre o item principal */
nav ul li:hover .dropdown-content {
    display: block;
}




/* From Uiverse.io by Praashoo7 */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.4em;
  background-color: #361260;
  border-radius: 25px;
  transition: .4s ease-in-out;
  max-width: 400px;
  margin: 20vh auto;
  font-size: 18px;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: "New Amsterdam";
}
.form a img{
  width: 20%;
  margin-top: 20px;
  border-radius: 100px;
  border: 0px;
}

form:hover {
  gap: 30px;
  transform: scale(1.02);
  border: 1px solid rgb(81, 36, 104);
}

#heading {
  text-align: center;
  margin: 0.4em;
  color: rgb(143, 68, 177);
  font-size: 1.5em;
  font-family: "New Amsterdam";
  font-weight: 400;
  font-style: normal;
}

.field {
  margin: 8px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 2.0em;
  border-radius: 25px;
  padding: 0.2em;
  border: none;
  outline: none;
  color: white;
  background-color: #5c3367;
  box-shadow: inset 2px 5px 10px rgb(171, 105, 212);
  padding: 10px;
  font-family: "New Amsterdam";

}

input{
  padding: 10px;
  background: none;
  border: none;
  outline: none;
  width: 90%;
  color: #d3d3d3;
  font-family: "New Amsterdam";
  font-size: 16px;
}

.button3 {
  background-color: #844aa3;
  border-radius: 4px;
  color: #582574;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  margin: auto;
  max-width: 180px;
  font-family: "New Amsterdam";
  font-weight: 400;
  font-style: normal;
}
 
 
 .button3:hover {
  background-image: linear-gradient(90deg, #c053ef 0%, rgb(189, 117, 237), #e2a3ff 75%, #b853ef 100%);
  animation: slidernbw 5s linear infinite;
  color: #000;
 }
 
 @keyframes slidernbw {
  to {
   background-position: 20vw;
  }
 }

 
.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  font-family: "New Amsterdam";
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}